.title1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  letter-spacing: .02em;
  line-height: 1.25;
  font-size: 3.6rem;
  color: #c49250;
  padding: 0 10%;
  transition: font-size 1s;
  transition-delay: 0.5s;
}

.title1:hover{
  font-size: 5rem;
}

.game-list {
  position: relative;
  margin: 4rem auto 0;
  max-width: 150rem;
}

.main-background {
  text-align: center;
  background: no-repeat url(https://vignette.wikia.nocookie.net/leagueoflegends/images/9/97/LoR_Cursed_Ruins_Board.png/revision/latest/scale-to-width-down/1000?cb=20200214024245) 0 0;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left:0px;
  right:0px;

}
