<div class="app-selector">
    <div class="text-description">
        
    </div>
    <div class="selector-image"></div>
    <div class="selector-container">
        <div>
            <p class="signOut"><a class="selector-button" [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="signOut()" >X</a></p>
        </div>
        <div class="card-selector">
            <div routerLink="/cards" (mouseenter)="addDescriptionCardSelector()" (mouseleave)="deleteDescription()" class="selector-item-card">
                <p class="title">Card Selector</p>
            </div>
        </div>
        <div class="deck-builder">
            <div (mouseenter)="addDescriptionDeckBuilder()" (mouseleave)="deleteDescription()" class="selector-item-deck">
                <p class="title">Deck Builder</p>
            </div>
        </div>
        <div class="match-replay">
            <div routerLink="/games" (mouseenter)="addDescriptionMatchReplay()" (mouseleave)="deleteDescription()" class="selector-item-match">
                <p class="title">Match Replay</p>
            </div>
        </div>
    </div>
</div>