  .app-selector {
    height: 100vh;
    display: grid;
    grid-template-areas: " selector-image selector-container";
    grid-template-columns: minmax(80%,20%);
    grid-gap: 0;
    background-color: rgb(48, 4, 84);
  }

  .selector-image {
    grid-area: selector-image;
    background-color: #80808014;
    background-size: cover;
  }

  .selector-main-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title{
    align-self: center;
    color: white;
    display: inline-grid;
    margin: 18%;
    justify-content: center;
  }

  .selector-container {
    grid-area: selector-container;
    text-align: center;
    display: grid;
    grid-template-areas:
      "card-selector"
      "card-selector"
      "deck-builder"
      "match-replay"
      "match-replay";
    align-items: center;
  }

  .card-selector {
    align-content: center;
    grid-area: card-selector;
    align-self: flex-end;
  }

  .deck-builder {
    grid-area: deck-builder;
    align-self: center;
  }

  .match-replay {
    grid-area: match-replay;
    align-self: flex-start;
  }

  .selector-item-deck,
  .selector-item-card,
  .selector-item-match {
    
    background-size: cover;
    width: 100%;
    min-width: 60%;
    max-width: 200px;
    margin-left: -5vw;
    border-radius: 10px;
  }

  .selector-item-deck {
    background-image: url("https://static1.millenium.gg/articles/7/11/12/7/@/52593-runeterra-article_m-1.jpg")
  }

  .selector-item-card {
    background-image: url("https://as.com/meristation/imagenes/2020/03/03/noticias/1583249217_275426_1583249507_noticia_normal.jpg");
  }

  .selector-item-match {
    background-image: url("https://oyster.ignimgs.com/wordpress/stg.ign.com/2019/10/Legends-of-Runeterra-IGN-Spell-Chain-2.jpg")
  }

  .selector-item-deck:hover,
  .selector-item-card:hover,
  .selector-item-match:hover {
    border: 2px solid goldenrod;
  }

  .selector-input {
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 11px;
    background-color: #80808047;
  }

  .selector-button {
    border-radius: 5px;
    padding: 7px 13px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 3%;
    right: 1%;
  }

  .selector-button {
    text-decoration: none;
    color: black !important;
  }

  .text-description {
    position: absolute;
    top: 25%;
    left: 3%;
    width: 200px;
    text-shadow: #474747 1px 1px 3px, #474747 -1px -1px 3px;
    color: #FFFFFF;
    display: none;
  }

  .description-title {
    color: orange;
  }
