
.container {
  margin-top: 40px;
  background-color: #363431;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;

  line-height: 5em;
  color: #333;
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(5, minmax(225px, 6fr));
  grid-auto-rows: auto;
  gap: 25px;
 }
 
 #photos {
   /* Prevent vertical gaps */
   -webkit-column-count: 5;
   -webkit-column-gap: 0px;
   -moz-column-count: 5;
   -moz-column-gap: 0px;
   column-count: 5;
   column-gap: 0px;
 }
 
 #photos img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
 }

 @media (max-width: 2844px) {
  #photos {
    -moz-column-count: 7;
    -webkit-column-count: 7;
    column-count: 7;
  }
  .container{
   grid-template-columns: repeat(7, minmax(225px, 6fr));

  }
}

 @media (max-width: 2400px) {
  #photos {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
  }
  .container{
   grid-template-columns: repeat(6, minmax(225px, 6fr));

  }
}

 @media (max-width: 2000px) {
  #photos {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
  .container{
   grid-template-columns: repeat(5, minmax(225px, 6fr));

  }
}
 
 @media (max-width: 1600px) {
   #photos {
     -moz-column-count: 4;
     -webkit-column-count: 4;
     column-count: 4;
   }
   .container{
    grid-template-columns: repeat(3, minmax(225px, 6fr));

   }
 }
 @media (max-width: 1200px) {
   #photos {
     -moz-column-count: 3;
     -webkit-column-count: 3;
     column-count: 3;
   }
   .container{
    grid-template-columns: repeat(2, minmax(225px, 6fr));
   }
 }
 @media (max-width: 800px) {
   #photos {
     -moz-column-count: 1;
     -webkit-column-count: 1;
     column-count: 1;
   }
   .container{
    grid-template-columns: repeat(1, minmax(225px, 6fr));
    margin-left: 10px;
   }
 }
 
 #popup 
 {
   position: absolute;
   top: 0%;
   margin-top: 35mm;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 700px;
   height: 650px;
   box-shadow: 0 5px 30px rgba(255, 59, 59, 0.3);
   visibility: hidden;
   opacity: 0;
   transition: 1s;
   z-index: 0;
   background-repeat: no-repeat;
   background-size: cover;
 }

 #popup.active 
{
  top: 40%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
p 
{
  
  position: center;
  padding: 10px 30px;
  width: 100%;
  display: block;
  margin-left: 10px auto;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
 
 
 body {
   margin: 0;
   padding: 0;
 }
 
