<div class = "the-true-background">
<div class="main-background">
<!--   <header>
    <h2 class="title1">
      Games of Runaterra
    </h2>
  </header> -->
  <header><p id="loggedAs">
     You are logged as
    <span id="spanMail">
       mehmehmeh@gmail.com&nbsp;
    </span>
    <a id="logout" href="">
      logout
    </a>
  </p>
</header>

  <div class = "gamesContainer">
    <div class = "gameDetail block" *ngFor="let game of games" (click)="gameDetail(game)" [ngStyle]="game.style">
      <p id="vs">{{game.PlayerName}} vs {{game.OpponentName}} </p>
      <!-- <p>Resolucion: {{game.ScreenWidth}}/{{game.ScreenHeight}}</p> -->
      <p id="gameDate">{{textualdate(game.GameDate)}}</p>
      <!-- <p>NumRondas: {{game.playsCount}}</p> -->
      <p id="duration">States: {{game.playsCount}}</p>
    </div>
  </div>
</div>
</div>
