.game-list {
  position: relative;
  margin: 4rem auto 0;
  max-width: 150rem;
}

.main-background {
  display: grid;
  grid-template-rows: 1fr 10fr;
  text-align: justify;
  margin-top: 0;
}

li {
  background-color: #d5d2c9;
  color: black;
  padding: 50px 50px;
  font-size: 20px;
  margin-right: 30px;
  border-radius: 25px;
  transition: font-size 0.2s linear;
}

li:hover {
  color: black;
  font-size: 25px;
  border-width: 20px;
  background-color: #ffc250;
  opacity: 60%;
}

.gamesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  grid-gap: 50px;
}

.gameDetail {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  height: 15vw;
  width: 30vw;
  box-shadow: 20px 20px 60px lightgrey, -20px -20px 60px lightgrey;
  margin: 1vw;
  text-align: center;
  text-shadow: #474747 1px 1px 3px, #474747 -1px -1px 3px;
  color: #FFFFFF;
}

#vs {
  font-size: 1vw;
}
#gameDate{
  position: absolute;
  font-size: 0.5vw;
  right: 10px !important;
  bottom: 10px !important;
}
#loggedAs{
  position: absolute;
  right:20px
}
#spanMail{
  font-weight: bold;
}
.gameDetail:hover {
  
}

