<div class="login-main-container">
    <div>
        <form>
            <div>
                <input #username type="text" formControlName="username" required>/
            </div>
            <div>
                <input #email ngModel type="email" formControlName="email" required/>
            </div>
            <div>
                <input #password ngModel type="password" formControlName="password" required/>
            </div>
            <div>
                <button (click)="register(email.value, password.value)" type="submit">Register</button>
            </div>
        </form>
    </div>
hola
</div>
